<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
     <script type="text/javascript">

        var google_api_key = "{{google_api_key|safe}}";
        var base_country = "{{base_country|safe}}";
  
      </script>
  
    <script src="{% static 'google_places_waypoints.js' %}"></script>
    this is index



   
</body>

</html>

