{% extends 'base.html' %}
{% load static %}

{% block title %}
home page
{% endblock %}

{% block body_block %}
<style>
    .form {
        width: 700px;
        box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.3);
        background: white;
        padding: 20px;
        margin: 3% auto 0;
    }

    .returnA {
        color: #000000;
        padding: 4px;
        text-decoration: none;
        font-size: 15px;
        background-color: #dce1e6;
        float: left;

    }
</style>
{% csrf_token %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap/signup.css' %}">
<div class="form">
    <div>
        <h3 style="text-align: center;">
            Add City Please
        </h3>
        <input type="hidden" id="dayRoute_Id" value="{{dayRouteObject.dayRouteId}}">

        Your preferred city location for this trip:
        {% for i in recommendRegion %}
        {{i.regionName}},
        {% endfor %}

        </br>

        Depending on your preference, recommended cities:
        </br>
        {% for i in recommendCity %}

        <input name="city" id="{{i.cityId}}" type="checkbox" value="{{ i.cityId }}"> {{i.cityName}} ({{i.cityLikes}})
        </br>
        {% endfor%}
        </br>
        
        In addition to the above cities, other cities are also ranked high in the UK:
        </br>
        {% for i in otherCity %}

        <input name="city" id="{{i.cityId}}" type="checkbox" value="{{ i.cityId }}"> {{i.cityName}} ({{i.cityLikes}})
        </br>

        {% endfor %}

        <a class="returnA" href="{% url 'routeApp:dayRouteDetail' dayRouteObject.dayRouteId %}">
            Return
        </a>


        <button type="submit" id="submit" onclick="addCity()" style="float: right;">Add</button>
        <br />



    </div>
</div>


<script language="JavaScript">

    function addCity() {
        console.log("hi")
        var radio = document.getElementsByName("city");
        console.log(radio)
        var post_data = new Array();
        var number = 0;
        for (var n = 0; n < radio.length; n++) {
            // 挑选出被选的单位
            if (radio[n].checked == true) {
                //console.log(radio[n]);
                //console.log(radio[n].value)
                post_data.push(radio[n].id);
                number++
            }
        }

        var dayRoute_Id = document.getElementById("dayRoute_Id").value
        console.log(dayRoute_Id)
        //console.log("giao.........////")

        //console.log(title);
        //console.log(days);
        all_data = {
            'dayRoute_Id': dayRoute_Id,
            'city': post_data,

        }


        $.ajax({
            type: "POST",
            url: "/addCity/",
            data: JSON.stringify(all_data),
            // data: {
            //     'post_data':post_data
            // },
            //---------giao----------
            dataType: 'json',
            //---------giao----------

            success: function (data) {
                window.location = data.msg

                console.log('giaogggggg');
            }
        })

    }
</script>
{% endblock %}