<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <link rel="stylesheet" href="{% static '/css/googleMap.css' %}">
    {% csrf_token %}

    <body onload="initialize()">
        <div id="map" style="width: 1300px; height: 600px;">
        </div>
    
        {% for i in latlng %}
        {% endfor %}
        <div id="lat">{{ LatLng }}</div>

        <!-- <div>
            <form method="post">
                <input id="address" type="textbox" value="Sydney, NSW">
                <input type="button" value="Encode" onclick="codeAddress()">
            </form>
        </div> -->

        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzgKg6zPvAkeEVugOuHFJf7VNRx5VvZW4&callback=initMap&v=weekly&language=en"
            defer></script>
        <script>
            var geocoder;
            var map;
            function initialize() {
                geocoder = new google.maps.Geocoder();
                var latlng = new google.maps.LatLng(51.5072178, -0.1275862);
                var mapOptions = {
                    zoom: 11,
                    center: latlng
                }
                
                map = new google.maps.Map(document.getElementById('map'), mapOptions);
                var marker = new google.maps.Marker({
                        map: map,
                        position: latlng
                });
            }

            function codeAddress() {
                var address = document.getElementById('address').value;
                geocoder.geocode({ 'address': address }, function (results, status) {
                    var lat = results[0].geometry.location.lat();
                    
                    if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                        console.log(results[0].geometry.location)
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- <script>
            $("#submit").click(function () {
                    $.ajax({
                        url: '',
                        type: 'POST',
                        data: {
                            address: $('#address').val()
                        },
                        success: function(data){
                            console.log(data)
                        }
                    })
                })
        </script>  -->
    </body>

    


</body>


</html>